#quiz-navbar{
    color: rgba(0,0,200, 0.8);
    font-size: larger;
}
#quiz-body>div, li{
    width: 800px;
    margin: 0px auto;
}
li:hover{
    cursor: pointer;
    background-color: hsl(210, 13%, 80%);
}
.swal-overlay {
    background-color: rgba(52, 59, 58, 0.5);
}
.swal-text {
    font-size: large;
}
.swal{
    margin: 20px auto;
    max-width: 70vw;
}
@media (max-width:850px) {
    #quiz-body>div, li{
        width: 600px;
    }
}
@media (max-width:640px) {
    #quiz-body>div, li{
        width: 450px;
    }
}
@media (max-width:480px) {
    #quiz-body>div, li{
        width: 320px;
    }
}
